body {
	font-family: Futura, "Gill Sans", sans-serif;
	margin:0;
	padding:0;
	height: 100%;
	overflow: hidden;
}
body.grey {
	background-color: #CFCFCF;/*BABABA*/
	background: -webkit-radial-gradient(#CFCFCF 5%, rgba(0,0,0,0) 20%); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#CFCFCF 5%, rgba(0,0,0,0) 20%); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#CFCFCF 5%, rgba(0,0,0,0) 20%); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#CFCFCF 5%, rgba(0,0,0,0) 20%); /* Standard syntax */
}
input {
	border-radius: 10px;
	position: relative;
	height:25px;
	top:-5px;
	font-family: Futura, "Gill Sans", sans-serif;
	background-color: #fff;
	-webkit-appearance: none;
	text-align: center;
}
select {
	font-family: Futura, "Gill Sans", sans-serif;
	height:25px;
	position: relative;
	top:-5px;
	background-color: #fff;
	-webkit-appearance: none;
	padding-left: 10px;
	text-align: center;
}
#container{
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 100%;
}
span.bubble{
	position: relative;
	top:-8px;
	right:-5px;
	font-size: 8px;
	padding: 3px 6px;
	line-height: 12px;
	color: white;
	background-color: red;
	border-radius: 15px;
	z-index: 98;
}
#tabs {
	position: absolute;
	top:0;
	left:0;
	width: 20%;
}
div.footer{
	font-size: .6em;
	position: absolute;
	right: 0;
	width: 10%;
	bottom:10px;
}
div.tab {
	position: relative;
	font-size: 1.2em;
	margin:2% 0;
	padding: 10px;
	text-shadow: 0 0 1.5em #BABABA;
	text-align: center;
	z-index: 98;
}
div.activetab {
	position: relative;
	font-size: 1.5em;
	padding: 10px;
	margin:2% 0;
	color: #CFCFCF;
	text-shadow: 0 0 1.5em #fff;
	text-align: center;
	border-radius: 10px;
	z-index: 99;
}
#tabContent {
	text-align: center;
	width: 70%;
	height: 90%;
	padding: 5% 10% 5% 20%;
	position: absolute;
	top: 0;
	left:0;
	z-index: 5;
	border-radius: 10px;
	background-color: #BABABA;/*CFCFCF*/
	background: -webkit-radial-gradient(#BABABA 0%, rgba(0,0,0,0) 90%); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#BABABA 0%, rgba(0,0,0,0) 90%); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#BABABA 0%, rgba(0,0,0,0) 90%); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#BABABA 0%, rgba(0,0,0,0) 90%); /* Standard syntax */
	border-radius: 20px;
}
iframe.w90 {
	width: 90%;
	height: 90%;
	margin: 5%;
}
span.tabtext {
	line-height: 12px;
}
span.button {
	padding:10px;
	margin: 10px;
	line-height: 60px;
	background-color: #0029A3;
	background: -webkit-linear-gradient(#6C91FF, #0029A3); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#6C91FF, #0029A3); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#6C91FF, #0029A3); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#6C91FF, #0029A3); /* Standard syntax */
	color: white;
	border-radius: 15px;
	border:thick solid #0029A3;
	white-space:nowrap;
}

#LoadingBackground {
	display: table;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: black;
	z-index: 100;
}
#LoadingText {
	display: table-cell;
	font-size: 30px;
	line-height: 32px;
	color: white;
	vertical-align: middle;
	text-align: center;
}

.fadeout {
	opacity:0;
	-webkit-animation-name: fadeout;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-moz-animation-name: fadeout;
	-moz-animation-duration:1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	animation-name: fadeout;
	animation-duration:1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}
@-webkit-keyframes fadeout{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.fadein {
	opacity: 1;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-moz-animation-name: fadeIn;
	-moz-animation-duration:1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	animation-name: fadeIn;
	animation-duration:1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}
@-webkit-keyframes fadeIn{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.glow {
	opacity: 1;
	-webkit-animation-name: glow;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease;
	-moz-animation-name: glow;
	-moz-animation-duration:3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease;
	animation-name: glow;
	animation-duration:3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}
@-webkit-keyframes glow{
	0% {
		opacity: .5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: .5;
	}
}

.w50r{
	position:absolute;
	top: 0;
	right:10%;
	width: 40%;
	
	height: 100%;
}
div.videowrapper {
	position: relative;
	padding: 28.125% 0; /* 16:9 */
	height: 0;
}
.w50l{
	position:absolute;
	top: 0;
	left:20%;
	width: 30%;
	height: 100%;
}
.textcenter {
	text-align: center;
	margin:3em;
}
.thegallerycontainer {
text-align: center;
height: 100%;
}
.shirtdetail {
height: 70%;
}
.shirtdetail > img {
height: 70%;
}
.hidden {
opacity:0;
}