body {
	font-family: Futura, "Gill Sans", sans-serif;
	margin:0;
	padding:0;
	height: 100%;
	overflow: hidden;
}
input {
	border-radius: 10px;
	position: relative;
	font-size: .7em;
	line-height: 0;
	font-family: Futura, "Gill Sans", sans-serif;
	background-color: #fff;
	-webkit-appearance: none;
	text-align: center;
}
select {
	font-family: Futura, "Gill Sans", sans-serif;
	height:25px;
	position: relative;
	top:-5px;
	background-color: #fff;
	-webkit-appearance: none;
	padding-left: 10px;
	text-align: center;
}
#container{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;/*CFCFCF*/
	background: -webkit-radial-gradient(#FFF 0%, rgba(30,30,30,.5) 90%); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#FFF 0%, rgba(30,30,30,.5) 90%); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#FFF 0%, rgba(30,30,30,.5) 90%); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#FFF 0%, rgba(30,30,30,.5) 90%); /* Standard syntax */
}
#tabs {
	position: absolute;
	top:.5em;
	left:0;
	max-width: 100%;
}
#footer{
	font-size: .6em;
	position: absolute;
	right: 0;
	bottom: .5em;
}
div.tab {
	position: relative;
	font-size: 1.2em;
	line-height: .83em;
	margin: 2% 0;
	padding: 10px;
	color: #CFCFCF;
	text-shadow: 0 0 1em #919191;
	text-align: center;
	z-index: 98;
}
div.activetab {
	position: relative;
	font-size: 1.5em;
	line-height: .67em;
	padding: 10px;
	margin:2% 0;
	color: #fff;
	text-shadow: 0 0 1.5em #919191;
	text-align: center;
	border-radius: 10px;
	z-index: 99;
}
#tabContent {
	text-align: center;
	width: 90%;
	height: 80%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 5;
	padding: 5% 5% 3em 5% ;
}
iframe.w90 {
	width: 100%;
	height: 100%;
}
span.tabtext {
	line-height: 12px;
}
table.noBorder{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border: none;
}

#LoadingBackground {
	display: table;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: black;
	z-index: 100;
}
#LoadingText {
	display: table-cell;
	vertical-align: middle;
	font-size: 30px;
	line-height: 32px;
	color: white;
	text-align: center;
}
.w50r{
	position:absolute;
	top: 0;
	right:10%;
	width: 40%;
	height: 100%;
}
div.videowrapper {
	position: relative;
	padding: 28.125% 0; /* 16:9 */
	height: 0;
}
#twitterwrapper {
	margin-top: 10%;
	position: relative;
	padding: 20.125% 0; /* 16:9 */
	height: 0;
	z-index: 98;
}
.w50l{
	position:absolute;
	top: 0;
	left:20%;
	width: 30%;
	height: 100%;
}
.textcenter {
	text-align: center;
	margin:3em;
}
.thegallerycontainer {
text-align: center;
height: 100%;
}
.shirtdetail {
height: 70%;
}
.shirtdetail > img {
height: 70%;
}
.hidden {
opacity:0;
}

/*animations*/
.quickfadein {
	opacity: 1;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration:.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-moz-animation-name: fadeIn;
	-moz-animation-duration:.5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	animation-name: fadeIn;
	animation-duration:.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}
.quickfadeout {
	opacity:0;
	-webkit-animation-name: fadeout;
	-webkit-animation-duration:.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-moz-animation-name: fadeout;
	-moz-animation-duration:.5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	animation-name: fadeout;
	animation-duration:.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}
.fadein {
	opacity: 1;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-moz-animation-name: fadeIn;
	-moz-animation-duration:1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	animation-name: fadeIn;
	animation-duration:1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}
.fadeout {
	opacity:0;
	-webkit-animation-name: fadeout;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-moz-animation-name: fadeout;
	-moz-animation-duration:1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	animation-name: fadeout;
	animation-duration:1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}
@-moz-keyframes fadeout{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-moz-keyframes fadeIn{
	100% {opacity: 1;}
	0% {opacity: 0;}
}
@-webkit-keyframes fadeout{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-webkit-keyframes fadeIn{
	100% {opacity: 1;}
	0% {opacity: 0;}
}
@keyframes fadeout{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeIn{
	100% {opacity: 1;}
	0% {opacity: 0;}
}
.glow {
	opacity: 1;
	-webkit-animation-name: glow;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease;
	-moz-animation-name: glow;
	-moz-animation-duration:3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease;
	animation-name: glow;
	animation-duration:3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}
@-webkit-keyframes glow{
	0% {opacity: .5;}
	50% {opacity: 1;}
	100% {opacity: .5;}
}
@-moz-keyframes glow{
	0% {opacity: .5;}
	50% {opacity: 1;}
	100% {opacity: .5;}
}
@keyframes glow{
	0% {opacity: .5;}
	50% {opacity: 1;}
	100% {opacity: .5;}
}
.colorChange{
	background-color:black;
	-webkit-animation-name: colorChange;
	-webkit-animation-duration:8s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease;
	-moz-animation-name: colorChange;
	-moz-animation-duration:8s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease;
	animation-name: colorChange;
	animation-duration:8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}
@-webkit-keyframes colorChange{
	0% {background-color:Black;}
	50% {background-color: DarkSlateGray;}
	100% {background-color: Black;}
}
@-moz-keyframes colorChange{
	0% {background-color:Black;}
	50% {background-color: DarkSlateGray;}
	100% {background-color: Black;}
}
@keyframes colorChange{
	0% {background-color:Black;}
	50% {background-color: DarkSlateGray;}
	100% {background-color: Black;}
}
