body {
font-size: medium;
font-family: Georgia;
margin:0;
}
.page{
width:730px;
overflow:hidden;
}
.sidebar{
float:left;
width:150px;
height:400px;
text-align:center;
border: thin dashed black;
}
img.w33 {
width:30%;
border: thin dashed black;
margin:0;
}
div.options {
text-align:center;
}
#circles_container {
text-align:left;
}
#circles_canvas {
border: thin dashed black;
z-index:1;
}
#circle_preview {
}
.clear {
clear:both;
text-align:center;
}
input {
}