body {
font-size: medium;
font-family: Georgia;
margin:0;
}
.page{
width:820px;
overflow:hidden;
}
.leftbar{
float:left;
width:150px;
margin: 0 1px 0 0;
text-align:center;
border: thin dashed black;
}
.brush{
float:left;
}
img.thumbs {
width:190px;
border: thin dashed black;
margin:0;
}
div.options {
text-align:center;
}
#canvas_container {
float:left;
}
#painting_canvas {
border: thin dashed black;
z-index:1;
}
#brushPreview {
}
.clear {
clear:both;
height:0;}
input {
}