p {margin:0;}
body {
	background-image:url('../images/background.jpg');
	background-size: 100%;
	background-repeat:no-repeat;
	background-position:center top;
}
div.content{
	background-color:rgba(240, 255, 240, .5);
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1em;
	margin-bottom: 1em;	
	padding:1em;
	overflow: auto;
}
div.
a {
	border-color: #494949;
	color: #494949;
}
table.NavBar {
	margin: 2.5%;
}
tr {
	width:100%;
}
td.w30{
	text-align: center;
	width:30%;
	padding:.5em;
	background-color:rgba(240, 255, 240, 0);
}
td.w20{
	text-align: center;
	width:20%;
	padding:.4em;
	font-size: 1.2em;
	background-color:rgba(240, 255, 240, .5);
	border:thin dotted grey;
}
td.current {
	text-align: center;
	width:20%;
	padding:.4em;
	font-size: 1.2em;
	background-color:rgba(200, 255, 200, .7);
}
div.w30{
	width: 30%;
	margin-left: 35%;
}
div.w40{
	width: 40%;
	margin-left: 30%;
}
img.w100{
	width:100%;
}
div.h95 {
}
.h20{
	height: 10%;
	text-align: center;
}
.authorphoto {
	float: right;
	margin:-1em 10% 2em 5%;
	width: 20%;
}
.authorname {
	font-weight: bold;
	clear: both;
}
.headline {
	font-size: 2em;
	text-align: center;
}
.w50fr {
	width: 30%;
	float: right;
	margin: -1em 4em 2em 4em;
}
img.h3em {
	height: 3em;
}
img.h5em {
	height: 5em;
}
div.w30lf{
	width: 30%;
	float: left;
	margin: -1em 0;
}
.footer {
	padding:.5em;
	margin: 2.5%;
	background-color:rgba(255, 255, 255, .7);	
}
.copyright{
float: left;

}
.socialmedia{
text-align: right;
}
.h1em{
height: 1em;
}