p,h1,h2,h3,li,div,span,table {margin:0;}
body {
font-family: Tahoma, Geneva, sans-serif;
background-color: #dadada;
}
div.w90grey{
	width: 85%;
	margin:	1% 5%;
	padding:2.5%;
	background-color: #d0d0d0;
}
div.lightgrey{
	background-color: #e8e8e8;
	padding:2em 0;
}
h1.header {
	font-size:3em;
	font-weight: lighter;
	text-align: center;
	color: #D11919;
	margin:0;
}
p.subtitle {
	font-size:.8em;
	color: black;
	text-align: center;
	margin:0;
}
.content{
	background-color: #52CCCC;
	overflow: auto;
	color:white;
	padding:2.5%
}
table.NavBar {
	padding:1em;
	background-color: #c1c1c1;
	width:100%;
	margin:1em 0 0 0;
	padding-right: 30%;
}
tr {
	width:70%;
}
td.w20{
	text-align: center;
	width:20%;
	margin: 0 5%;
	padding:.5em;
	font-size: .8em;
}
td.current {
	text-align: center;
	width:20%;
	margin:5%;
	padding:.5em;
	font-size: .9em;
	background-color:#ccc;
}
td.w30{
	width:30%;
	padding:2.5%;
}
.w30c{
	width:30%;
	margin-left: 1.5%;
	padding:2.5%;
	text-align: center;
}
td.w50{
	width:50%;
	padding:1%;
}
p.text-space{
	margin: 1em 0 0 0;
}
p.text-indent{
	margin: 0;
	text-indent: 1em;
}
p.text-indent-space{
	margin: 1em 0 0 0;
	text-indent: 1em;
}
a {
	border-color: #494949;
	color: #494949;
}
div.w30{
	width: 30%;
	margin-left: 35%;
}
div.w40{
	width: 40%;
	margin-left: 30%;
}
.w100{
	width:100%;
}
div.h95 {
	width: 85%;
	margin:	1% 5%;
	padding:2.5%;
	background-color: #d0d0d0;
}
.h20{
	height: 10%;
	text-align: center;
}
.authorphoto {
	float: right;
	margin:-1em 10% 2em 5%;
	width: 20%;
}
.authorname {
	font-weight: bold;
	clear: both;
	margin: 1em 0 0 0;
}
h2.headline {
	font-weight: lighter;
	font-size: 2em;
	text-align: center;
}
h3.headline {
	font-weight: lighter;
	font-size: 1.5em;
	text-align: center;
}
h2.footerhead {
	font-weight: lighter;
	font-size: 1.5em;
}
.w50fr {
	width: 30%;
	float: right;
	margin: 0 10% 2em 10%;
}
.w50fl {
	width: 30%;
	float: left;
	margin: 0 10% 0 10%;
}
img.h3em {
	height: 3em;
}
img.h5em {
	height: 5em;
}
div.w30lf{
	width: 30%;
	float: left;
	margin: -1em 0;
}
.footer {
	padding:2.5%;
	margin: 2.5%;
	background-color:#52CCCC;	
}
.copyright{
	font-size: .6em;
}
.socialmedia{
text-align: right;
}
.h1em{
height: 1em;
}
.margin5 {
margin:2.5%;
}
.padding5 {
padding:2.5%;
}

table.social{
float: right;
}
img.icon{
height:2em;
}
td.lquote{
font-size: 4em;
color:#919191;
font-family: monospaced;
}
td.rquote{
font-size: 4em;
color:#919191;
font-family: monospaced;
}
p.source {
text-align: right;
padding:.5em;
}
.grey {
background-color: #dadada;
}
.darkgrey {
background-color: #aaa;
}
.padding1{
padding:.5em;
}
.floatr{
float:right;
margin:0 10% 1em -10%;
}
.o0{
opacity:0;
}