@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);
@import url(http://fonts.googleapis.com/css?family=Anton);
p{margin:0;}
body {
	font-family: Futura, "Gill Sans", sans-serif;
	margin:0;
	padding:0;
	height: 100%;
	overflow: hidden;
	font-size: 20px;
	line-height: 28px;
    background: #000;
	overflow: hidden;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: hue;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 1s;
  -moz-animation-name: hue;
  -moz-animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-name: hue;
  animation-iteration-count: infinite;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}
@-moz-keyframes hue {
  from {
    -moz-filter: hue-rotate(0deg);
  }
  
  to {
    -moz-filter: hue-rotate(360deg);
  }
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  
  to {
    filter: hue-rotate(360deg);
  }
}
#radio {
	position: absolute;
	bottom: 35%;
	left: 2%;
	z-index: 12;
	cursor: pointer; cursor: hand;
}
.discoball {
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: hue;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  
  height: 200px;
  position: absolute;
  top: -10px;
  z-index: 2;
}
.popped{
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: .3s;
  -webkit-animation-name: popped;
  -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes popped {
  from {
    -webkit-transform: scale(.5,.5);
  }
  
  to {
    -webkit-transform: scale(2,2);
  }
}
.creditsBox{
	position: absolute;
	top: 10%;
	right: 10%;
	background-color: white;
	color: black;
	padding:2%;
	border-radius: 50px;
	width: 50%;
	height: 50%;
	overflow: hidden;
	text-align: center;
	z-index: 10;
}
.creditHead {
	position: absolute;
	top: 10px;
	width: 96%;
	font-size: 25px;
	font-weight: bold;
	font-family: Impact,Anton,sans-serif;
	text-indent: 0;
	padding:0;
}
#counter{
	width: 35%;
	color: white;
	font-family: Impact,Anton,sans-serif;
	font-size: 30px;
	position:absolute;
	top:200px;
	left:10px;
	z-index: 10;
	text-align: left;
}
.credit {
	font-family: 'Nothing You Could Do', cursive;
	margin: 0;
}
.missingCredit {
	color:#fff;
	position: absolute;
	top: 75%;
	right: 10%;
	width: 50%;
	padding:0 2%;
	font-size: .8em;
	font-family: 'Nothing You Could Do', cursive;
	text-align: center;
	text-shadow: 2px 2px 3px #000;
	z-index: 10;
}
iframe.w90 {
	position: absolute;
	top: 15%;
	left:0;
	width: 100%;
	height: 85%;
	border-radius: 25px;
	background-color: white;
	border: none;
	overflow: auto;
}
.whiteBG {
	background-color:white;
}
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer; cursor: hand;
}
.downloadLink {
	font-size: 80%;
	color: blue;
    text-shadow: 2px 2px 5px #fff;
}
#wall {
	position: absolute;
	background-color: #FFF;/*CFCFCF*/
	background: -webkit-radial-gradient(#fff 0%, rgba(0,0,0,.5) 110%); /* Safari 5.1 to 6.0 */
	background: radial-gradient(#fff 0%, rgba(0,0,0,.5) 110%); /* Standard syntax */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
#floor{
	height: 128px;
	width: 100%;
    background-image: url("../images/floor.jpg");
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	border-top: 10px solid white;
}
#JoeContainer {
	z-index: 13;
	position: absolute;
	bottom: 0;
}
#bubbleBox {
	display: inline-block;
	position: absolute;
	bottom: 266px;
	width: 15em;
	padding:20px;
	border-radius: 25px;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	border: medium DarkSlateGray solid;
	background-color: white;
	z-index: 999;
	overflow: auto;
}
.left {
	left: 0;
}
.right {
	right: 138px;
}
.bubbleleft {
	left: 0;
}
.bubbleright {
	right: -138px;
}
#JoeBody {
	height: 256px;
	position: absolute;
	bottom: 0;
	z-index: 5;
}
#JoeMouth {
	height: 256px;
	position: absolute;
	bottom: 0;
	z-index: 6;
}
#JoeEyes {
	height: 256px;
	position: absolute;
	bottom: 0;
	z-index: 6;
}
#JoeTshirt {
	height: 256px;
	position: absolute;
	bottom: 0;
	z-index: 7;
}
#blocker {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 998;
	opacity: 0;
}
#Joeblocker {
	height: 256px;
	width: 128px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 998;
	opacity: 0;
}
#LoadingBackground {
	display: table;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:black;
	z-index: 998;
	overflow: hidden;
}
#LoadingContainer{
	display: table-cell;
	vertical-align: center;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	padding:10%;
	width: 80%;
	height: 80%;
	background-color: #CFCFCF;/*CFCFCF*/
	background: -webkit-radial-gradient(#CFCFCF 0%, rgba(30,30,30,.5) 90%); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#CFCFCF 0%, rgba(30,30,30,.5) 90%); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#CFCFCF 0%, rgba(30,30,30,.5) 90%); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#CFCFCF 0%, rgba(30,30,30,.5) 90%); /* Standard syntax */
	overflow: auto;
}
input {
	text-align: center;
	font-size: 20px;
	font-family: "Courier New", Courier, monospace;
}
select {
	font-family: Futura, "Gill Sans", sans-serif;
	height:25px;
	position: relative;
	top:-5px;
	background-color: #fff;
	-webkit-appearance: none;
	padding-left: 10px;
	text-align: center;
}
#inside{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: darkslategray;
	z-index: 0;
	overflow: hidden;
}

#content {
	text-align: center;
	width: 100%;
	height: 100%;
	margin:0;
	position: absolute;
	top: 0;
	left: 0;
	z-index:10;
	background-color: rgba(30,30,30,.8);
	color: white;
    overflow: hidden;
}
#closeButton{
	position:absolute;
	top: -10px;
	right:-10px;
	background-color: rgba(30,30,30,1);
	color: rgba(200,200,200,.5);
	border: 2px solid rgba(200,200,200,.5);
	margin:0;
	padding:5px 7px;
	border-radius: 20px;
	cursor: pointer; cursor: hand;
}
#resume {
	margin: 5% auto;
	height: 85%;
	max-width: 90%;
}
.w50r{
	position:absolute;
	top: 0;
	right:10%;
	width: 40%;
	height: 100%;
}
div.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
div.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 80%;
	margin: 5%;
}
#audioList {
	text-align: center;
	background-color: rgba(100,100,100,.5);
	border-radius: 25px;
	color: white;
	width: 400px;
	max-height: 75%;
	margin:5% auto;
	padding: 5%;
	position: relative;
	z-index: 11;
	overflow: auto;
}
#twitterwrapper {
	height: 80%;
	width: 500px;
	margin:5% auto;
	position: relative;
	z-index: 11;
}
.twitter-timeline {
	height: 100%;
}
.textcenter {
	text-align: center;
	margin:3em;
}
.thegallerycontainer {
text-align: center;
height: 100%;
}
.shirtdetail {
height: 70%;
}
.shirtdetail > img {
height: 70%;
}

/*animations*/
.quickfadein {
	opacity: 1;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration:.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-moz-animation-name: fadeIn;
	-moz-animation-duration:.5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	animation-name: fadeIn;
	animation-duration:.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}
.fadein {
	opacity: 1;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-moz-animation-name: fadeIn;
	-moz-animation-duration:1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	animation-name: fadeIn;
	animation-duration:1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}
@-moz-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.fadeout {
	opacity:0;
	-webkit-animation-name: fadeout;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-moz-animation-name: fadeout;
	-moz-animation-duration:1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	animation-name: fadeout;
	animation-duration:1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}
.quickfadeout {
	opacity:0;
	-webkit-animation-name: fadeout;
	-webkit-animation-duration:.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-moz-animation-name: fadeout;
	-moz-animation-duration:.5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	animation-name: fadeout;
	animation-duration:.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}
@-moz-keyframes fadeout{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-webkit-keyframes fadeout{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeout{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
.glow {
	opacity: 1;
	-webkit-animation-name: glow;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease;
	-moz-animation-name: glow;
	-moz-animation-duration:3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease;
	animation-name: glow;
	animation-duration:3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}
@-webkit-keyframes glow{
	0% {opacity: .5;}
	50% {opacity: 1;}
	100% {opacity: .5;}
}
@-moz-keyframes glow{
	0% {opacity: .5;}
	50% {opacity: 1;}
	100% {opacity: .5;}
}
@keyframes glow{
	0% {opacity: .5;}
	50% {opacity: 1;}
	100% {opacity: .5;}
}
.walkIn {
	-webkit-animation-name: walkIn;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: walkIn;
	-moz-animation-duration:2s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	animation-name: walkIn;
	animation-duration:2s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
@-moz-keyframes walkIn{
	0% {-moz-transform: scale(.5,.5); 
		bottom: 64px;
	}
	100% {}
}
@-webkit-keyframes walkIn{
	0% {-webkit-transform: scale(.5,.5); 
		bottom: 64px;
	}
	100% {}
}
@keyframes walkIn{
	0% {transform: scale(.5,.5);
		bottom: 64px;
	}
	100% {}
}
.popUp{
	-webkit-animation-name: popUp;
	-webkit-animation-duration:.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	animation-name: popUp;
	animation-duration:1s;
	animation-iteration-count:.5;
	animation-timing-function: linear;
}
@-webkit-keyframes popUp{
	0% {-webkit-transform: perspective(1000) rotateX(90deg);
       -webkit-transform-origin: 100% 100%;}
	100% {-webkit-transform: perspective(1000) rotateX(0deg);
        -webkit-transform-origin: 100% 100%;}
}
@keyframes popUp{
	0% {transform: perspective(1000) rotateX(90deg);
       transform-origin: 100% 100%;}
	100% {transform: perspective(1000) rotateX(0deg);
        transform-origin: 100% 100%;}
}
.bookThumbnail {
	height: 100px;
	cursor: pointer; cursor: hand;
}
.hidden {
	opacity: 0;
	height: 0;
	width: 0;
	display: none;
    visibility: hidden;
	position: absolute;
	bottom: 0;
	z-index: -1;
}
::selection{
  background: none;
}
#balloonContainer{
position: absolute;
bottom:0;
height: 100%;
z-index: 14;
}